<h1>Páginas</h1>

<table class="table table-striped">
  <tr>
    <th>Identificador</th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= link_to t("admin_pages.#{page.slug}"), admin_page_path(page) %></td>
  </tr>
<% end %>
</table>
