<h1><%= @page.slug %></h1>

<table class="zebra-striped">
  <tr>
    <th>Seção</th>
  </tr>

<% @page.snippets.each do |snippet| %>
  <tr>
    <td><%= link_to snippet.section, edit_admin_page_snippet_path(@page, snippet) %></td>
  </tr>
<% end %>
</table>
