<div id="container">
<iframe id="be_iframe" width="100%" frameborder="0" scrolling="no"></iframe>
<script>// <![CDATA[
    function getParameterByName(name,defaultValue) {
        name = name.replace(/[\[]/, "\[").replace(/[\]]/, "\]");
        var regex = new RegExp("[\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? defaultValue : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    var toDate = getParameterByName("to","");
    var fromDate = getParameterByName("from","");
    var end_date = getParameterByName("end_date","");
    var start_date = getParameterByName("start_date","");

    var num_adults = getParameterByName("num_adults",0);
    var nAdults = getParameterByName("nAdults",0);
    var nChilds = getParameterByName("nChilds",0);
    var nBabies = getParameterByName("nBabies",0);
    var url = "https://www.sistemahoteleiro.com/motor-reservas/reservas?hotelToken=6827bf24a34d4f7ac8bdb28dc25d9479&from="+fromDate+"&to="+toDate+ "&num_adults="+num_adults+"&nAdults="+nAdults+"&nChilds="+ nChilds +"&nBabies="+nBabies+"&start_date="+start_date+"&end_date="+end_date+"&language=<%= locale_for_reservation %>&currency=DEFAULT";
    document.getElementById("be_iframe").src = url;
// ]]></script>
<script src="https://sistemahoteleiro.com/lib/iframeResizer.min.js"></script>
<script>// <![CDATA[
    iFrameResize({
        checkOrigin: false,
        enablePublicMethods: true
    });
// ]]></script>
</div>
