<div class="tituloSecao">
  <h2><%= t('pages.location.title') %></h2>
</div>

<div class="conteudoPrincipal">
  <%=raw @page.snippets.section(:main).rendered_body %>
  
  <%=raw @page.snippets.section(:directions).rendered_body %>
</div><!-- conteudoPrincipal -->

<div class="conteudoSecundario">
  <h3>Mapa de Localização</h3>
  <iframe width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps/ms?msa=0&amp;msid=216057150231739713948.0004b5311f4a1b3d770d8&amp;hl=pt-BR&amp;ie=UTF8&amp;ll=-22.916114,-43.183106&amp;spn=0,0&amp;t=m&amp;vpsrc=6&amp;output=embed"></iframe><br /><small>Visualizar <a href="http://maps.google.com.br/maps/ms?msa=0&amp;msid=216057150231739713948.0004b5311f4a1b3d770d8&amp;hl=pt-BR&amp;ie=UTF8&amp;ll=-22.916114,-43.183106&amp;spn=0,0&amp;t=m&amp;vpsrc=6&amp;source=embed" style="color:#0000FF;text-align:left">R. Joaquim Murtinho, 531 - Santa Teresa</a> em um mapa maior</small> 
  <p>Rua Joaquim Murtinho, 531<br>Santa Teresa - Rio</p>
</div><!-- /conteudoSecundario -->