<div class="tituloSecao">
  <h2><%= t('pages.location.title') %></h2>
</div>

<div class="conteudoPrincipal">
  <%=raw @page.snippets.section(:main).rendered_body %>

  <%=raw @page.snippets.section(:directions).rendered_body %>
</div><!-- conteudoPrincipal -->

<div class="conteudoSecundario">
  <h3>Mapa de Localização</h3>
  <iframe width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=R.+Joaquim+Murtinho,+531+-+Santa+Teresa,+Rio+de+Janeiro+-+RJ&amp;aq=1&amp;sll=-15.199386,-39.462891&amp;sspn=46.836024,86.044922&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Joaquim+Murtinho,+531+-+Santa+Teresa,+Rio+de+Janeiro,+20241-320&amp;t=m&amp;ll=-22.909227,-43.175926&amp;spn=0.023718,0.034246&amp;z=14&amp;output=embed"></iframe>
  <p>Rua Joaquim Murtinho, 531<br>Santa Teresa - Rio</p>
</div><!-- /conteudoSecundario -->