<div class="conteudoPrincipalTotal fotos">
  <% @page.snippets.each do |snippet| %>
    <%=raw snippet.rendered_body %>

    <div class="galeria">
      <% snippet.photos.each do |photo| %>
        <div class="fotoGaleria">
          <%= link_to photo.image.url, :class => "fancybox", :title => photo.caption, :rel => 'photos' do %>
            <%= image_tag photo.image.thumb.url, :alt => photo.caption, :title => photo.caption %>
          <% end %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
</div>