<div class="tituloSecao">
  <h2><%= t('pages.reservation.title') %></h2>
</div>

<div class="conteudoPrincipalTotal reservation">
  <div class="conteudoSecundario">
    <%= render :partial => "reservation_form" %>
  </div><!-- /conteudoSecundario -->


  <% @page.snippets.ordered.each do |snippet| %>
    <% unless snippet.section.in?([:terms_and_conditions, :transfer_service]) %>
      <%=raw snippet.rendered_body if snippet.status %>
    <% end %>
  <% end %>
</div><!-- /conteudoPrincipalTotal -->