<div class="tituloSecao">
  <h2><%= t('pages.reservation.title') %></h2>
</div>

<div class="conteudoPrincipalTotal">
  <div class="conteudoSecundario">
    <%= render :partial => "reservation_form" %>
  </div><!-- /conteudoSecundario -->

  <% [
      :new_year_package,
      :carnival_package,
      :high_season_package,
      :low_season_package,
      :promotions,
      :terms_conditions
      ].each do |section|
  %>
    <%=raw @page.snippets.section(section).rendered_body if @page.snippets.section(section).status %>
  <% end %>
</div><!-- /conteudoPrincipalTotal -->