<div class="tituloSecao">
  <h2><%= t('pages.rooms.title') %></h2>
</div>

<div class="conteudoPrincipalTotal">
  <%= render :partial => 'room', :collection => [:standard, :master1, :master2] %>

  <hr />
  <span><%= t('pages.rooms.dorms_link') %><%= link_to t('pages.all.click_here'), dorms_path %></span>
</div><!-- /conteudoPrincipalTotal -->