// This is a manifest file that'll be compiled into including all the files listed below.
// Add new JavaScript/Coffee code in separate files in this directory and they'll automatically
// be included in the compiled file accessible from http://example.com/assets/application.js
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
//= require jquery
//= require jquery.ui.all
//= require jquery_ujs
//= require fancybox
//= require slider
//= require photo_panel
//= require_tree ./site

$(document).ready(function () {
  $("a.fancybox").fancybox();

  $(".datepicker").datepicker({
    dateFormat : "yy-mm-dd",
    buttonImageOnly : true,
    buttonImage : "<%= asset_path('iconDatePicker.gif') %>",
    showOn : "both",
    changeMonth : true,
    changeYear : true,
    yearRange : "c-20:c+5",
    <%= "regional : '#{I18n.locale.to_s}'," if I18n.locale.to_s != 'en' %>
    altFormat : 'dd/mm/yy',
    autoSize: false,
    showButtonPanel: true,
    showOtherMonths: true,
    numberOfMonths: 3
  });

  $("#reservation_arrival").datepicker("option", "altField", '#reservation_arrival_text');
  $("#reservation_departure").datepicker("option", "altField", '#reservation_departure_text');
  $("#reservation_transfer_arrival").datepicker("option", "altField", '#reservation_transfer_arrival_text');

  /*
  Textile footnote generated html

  <sup id="fnr1" class="footnote"><a href="#fn1">1</a></sup>

  <p id="fn1" class="footnote"><a href="#fnr1"><sup>1</sup></a> Down here, in fact.<br>
  fn2. Down here, in fact2.</p>
  */

  $('sup.footnote a').map(function() {
    footnote_id = $(this).attr('href');
    $(footnote_id + ' a').remove();
    $(this).qtip({
      content: {
        text: $(footnote_id).text()
      },
      style: {
        classes: 'ui-tooltip-tipped',
      }
    });
  });

  $('.fancy-modal').each(function () {
    $($(this).attr('data-rel')).hide();
  });
});

jQuery.fn.reset = function () {
  $(this).find(':input').each(function() {
    switch(this.type) {
      case 'password':
      case 'select-multiple':
      case 'select-one':
      case 'text':
      case 'textarea':
        $(this).val('');
        break;
      case 'checkbox':
      case 'radio':
        this.checked = false;
    }
  });
}

$("body").on('click', 'a.fancy-modal', function () {
  $.fancybox($($(this).attr('data-rel')).html(), {padding: 20, width: 600, height: 400, autoScale: false, autoDimensions: false});
});

$('body').on('click', 'sup.footnote a', function(event) {
  event.preventDefault();
});

$('body').on('click', '.toggle-list', function () {
  $(this).next('ul').fadeToggle();
});

$("body").on("ajax:beforeSend", '#new_message', function(){
   $('#loader').show();
   $('#contact-submit').attr('disabled', true);
  }).on("ajax:complete", '#new_message', function(){
   $('#loader').hide();
   $('#contact-submit').attr('disabled', false);
 });
