/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require fancybox
 *= require_self
*/

@import "bootstrap";

body {
  padding-top: 60px;
}

.form-stacked .image-field {
  margin: 20px 0px 50px;
}

#list-view {
  tr {
    td.photo-caption { width: 70% }
    td.photo-image { width: 15% }
    td.photo-delete { width: 15% }
  }
}

#thumbs-view {
  > ul {
    list-style: none;
    margin: 20px 0px 0 -20px;
    padding: 0;

    > li {
      float: left;
      padding: 0;
      margin: 0 0 18px 20px;

      &.placeholder { border: 1px solid #DDDDDD; border-radius: 4px; }

      > a {
        cursor: move;
        position: relative;
        margin: 0;
        display: block;

        .edit-thumb {
          color: #404040;
          font-weight: bold;
          background-color: white;
          position: absolute;
          top: 4px;
          right: 4px;
          padding: 1px 3px;
          cursor: pointer;
        }
      }
    }
  }
}

.photos-listing {
  overflow: auto;
}

.modal.photos-modal {
  .form-stacked { margin: 0; padding: 0; }

  input[type=radio] {
    display: none;
    padding: 0;
    margin: 0;
  }

  a {
    outline: none;

    &.active {
      border-color: #0069d6;
      -webkit-box-shadow: 0 2px 4px rgba(0,105,214,.25);
         -moz-box-shadow: 0 2px 4px rgba(0,105,214,.25);
              box-shadow: 0 2px 4px rgba(0,105,214,.25);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin: 0;
      padding: 0;

      display: inline-block;
      vertical-align: top;

      a {
        display: inline-block;
      }

      a.active, a:hover {
        .img-thumbnail {
          border-color: #0069d6;
          @include box-shadow(0 1px 4px rgba(0,105,214,0.25));
        }
      }
    }
  }

  .modal-body {
    height: 420px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.container {
  margin-bottom: 100px;
}

.container .actions .btn {
  margin-right: 15px;
}
