<!DOCTYPE html>
<html>
<head>
  <title>Bossa in Rio Hostel</title>
  <%= stylesheet_link_tag    "admin_application" %>
  <%= javascript_include_tag "admin_application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
